.container {
    width: 100%;
    margin: 0 auto;
    padding: 0 20px;
    box-sizing: border-box;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr ;
  

  
   

  

}
.axis {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.1);
    color: black;
    font-size: 12px;
    text-align: center;
    font-weight: bold;
    z-index: 1;
  }
  .main-axis {
    width: 100%;
    height: 2px;
    top: 50%;
    left: 0;
    background-color: rgb(115, 255, 0);
   
  }
  
  .cross-axis {
    width: 2px;
    height: 100%;
    left: 50%;
    top: 0;
    background-color: blue;
  }

.card {
    background-color: #fa0000;
    border-radius: 5px;
    grid-column: 1/3;
    
    
    /* box-shadow: 10px 10px rgba(8, 8, 8, 0.207); */
    margin: 20px;
    padding: 20px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    
}

/* .card1 img{
  background-color: #ffffff;
  mix-blend-mode:white;
} */

/* .card2 img{
  
  mix-blend-mode: multiply;
} */

