* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #ff0000;
  --secondary-color: #004d0d;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: var(--secondary-color);
  color: #333;
  line-height: 1.6;
  font-size: 16px;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}




.container {
  width: 30%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr repeat(2, 1fr);
  grid-template-rows: 1fr repeat(3, 1fr);
  grid-template-areas:
    'header header header'
    'menu main right'
    'menu main right'
    'menu footer footer';
}

@media (max-width: 1200px) {
  body {
    font-size: 20px;
    background-color: #fa3e3e;
  }
  .container{
    display: flex;
    flex-wrap: wrap;
  }
}
@media (max-width: 600px) {
  body {
    font-size: 14px;
    background-color: #e0e0e0;
  }
  .container{
    display: flex;
    flex-wrap: wrap;
  }
}



.card {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  margin: 1rem;
  padding: 1rem;
}

.card1 {
  background-color: #ff0000;
  grid-area: header;

}

.card2 {
  background-color: #00ff1a;
  grid-area: menu;
}

.card3 {
  background-color: #00ff84;
  grid-area: main;
}

.card4 {
  background-color: #004cff;
  grid-area: right;

}

.card5 {
  background-color: #9d00ff;
  grid-area: footer;
}