@import url('https://fonts.googleapis.com/css2?family=Jersey+15&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jersey+15&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Rubik+Vinyl&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

p {
    color: rgb(255, 123, 0);
    font-size: 30px;
    font-family: 'Jersey 15', sans-serif;
    line-height: 3rem;
}

.main {
    text-align: center;
    color: red;
    text-transform: capitalize;
    letter-spacing: 10px;
    font-family: "Rubik Vinyl", serif;
    font-weight: 400;

}

a {
    text-decoration: line-through;
}

div {
    background-color: cadetblue;
    width: 200px;
    height: 100px;
    border: 5px solid rgb(255, 0, 0);
    padding: 10px;
    margin-left: 100px;
    border-radius: 10px;
}